*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #EEEEEE;

}
.top_margin{
   margin-top: 20px;
}
/* navbar */

.navbar{
   display: flex;
   background-color: #1A237E ;
   padding: 12px 5%;
  
}
.left-list {
   width: 60%;
   display: flex;
   align-items: center;
   
}

.left-list li , .right-nav li{
    list-style: none;
    
    border: 1px solid black;
    padding: 10px 13px;
}
.left-list li{
    margin-left: 5%;
}
.left-list li a , .right-nav li a{
  text-decoration: none;
  color: white;
}
.navbar a:hover{
    color: #0fa9f0;
}
.right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* search container */

#big_img{
  background-image: url("https://cdn.pixabay.com/photo/2021/01/19/18/45/field-5932123_960_720.jpg");
  width: 100%;
  height: 500px;
  /* padding: 50px 5% 50px 5%; */
  padding-left: 5%;
  padding-top: 50px;
}
#search_container{
    padding: 10px;
    width: 95%;
    border: 3px solid red;
    height: 300px;
    background-color: white;

}
#plans_box{
    display: flex;
    justify-content: space-between;
    /* padding: 10px;
    width: 95%;
    border: 3px solid red;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: space-between; */
}

.plans{
    width: 15%;
}
.plans button{
    width: 100%;
    padding: 20px 0px 5px 0px;
    box-sizing: border-box;
    border: none;

}

.bottom_border{
   border-bottom: 2px solid black;
}

#stays_plans{
    width: 100%;
    height: 200px;
    border: 2px solid black;
    padding: 20px;
}
#feachers{
    display: flex;
}



/* main body started */

.main-body{
    width: 90%;
    margin: auto;
    border: 1px solid black;
   
}

.first-flex{
    display: flex;
    margin: 20px 0px;
    width: 100%;
    border: 1px solid red;
    /* height: 100px; */
    justify-content: space-between;
}
.items{
    
    width: 32%;
    border: 1px solid green;
    
    padding: 2%;
    /* justify-content: space-between; */
}


/* footer started */
a {
    text-decoration: none;
    color: #31b5f3;
}
a:hover {
    text-decoration: underline;
}

footer{
    display: flex;
    width: 100%;
    height: 300px;
    padding-bottom: 20px;
    /* border: 1px solid black; */
    justify-content: space-between;
    padding-right: 1%;
}

.footer_item li{
    list-style: none;
    margin-top: 10px;
    font-size: 13px;

}
.footer_item >div{
    font-weight: 600;
}
.text_center{
    text-align: center;
}
.small_font {
    font-size: 14px;
    color: rgb(75, 74, 74);
}