*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #EEEEEE;

}

/* navbar */

.navbar{
   display: flex;
   background-color: #1A237E ;
   padding: 12px 5%;
  
}
.left-list {
   width: 60%;
   display: flex;
   align-items: center;
   
}

.left-list li , .right-nav li{
    list-style: none;
    
    border: 1px solid black;
    padding: 10px 13px;
}
.left-list li{
    margin-left: 5%;
}
.left-list li a , .right-nav li a{
  text-decoration: none;
  color: white;
}
.right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* search container */

.search-container{

}


/* main body started */

.main-body{
    width: 90%;
    margin: auto;
    border: 1px solid black;
    height: 300px;
}

.first-flex{
    display: flex;
    margin: 20px 0px;
    width: 100%;
    border: 1px solid red;
    /* height: 100px; */
    justify-content: space-between;
}
.items{
    
    width: 32%;
    border: 1px solid green;
    
    padding: 2%;
    /* justify-content: space-between; */
}
